@charset "UTF-8";
/* NoTitle */
.BeachesDreams.NoTitle {
	
}

.BeachesDreams.TopPadding
{
	padding-top: 30px;
}


/* Title Heading */
.BeachesDreams.TitleHeading
{
	margin-bottom: 20px;
}
.BeachesDreams.TitleHeading  h2
{
	font-size: 23px;
	margin: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0px;
}


.BeachesDreams h3
{
	
}






